<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
    } %>
  
  <%- messages() %>
  
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <form class="form addvehicle-form" method="post">
    <p>*All fields are required</p>
    <fieldset class="form--fieldset addvehicle-form--fieldset"> 
      <!-- DROP DOWN -->
      <div class="form--fieldset">
        <label for="classification_id">Select a classification to view inventory:</label>
        <select name="classification_id" id="classificationList">
          <%- classSelect %>
        </select>
      </div>
      <table id="inventoryDisplay"></table>
  
      <label for="inv_make">Make:</label>
      <input type="text" id="inv_make" name="inv_make" placeholder="Min of 3 characters" value="<%= locals.inv_make %>" minlength="3" required>
  
      <label for="inv_model">Model:</label>
      <input type="text" id="inv_model" name="inv_model" placeholder="Min of 3 characters" value="<%= locals.inv_model %>" minlength="3" required>
  
      <label for="inv_year">Year:</label>
      <input type="text" id="inv_year" name="inv_year" placeholder="4-digit year" value="<%= locals.inv_year %>" pattern="^\d{4}$" required>
  
      <label for="inv_description">Description:</label>
      <textarea id="inv_description" name="inv_description" cols="40" rows="5" required><%= locals.inv_description %></textarea>
  
      <label for="inv_image">Image path:</label>
      <input type="text" id="inv_image" name="inv_image" value="/images/vehicles/no-image.png" required>
  
      <label for="inv_thumbnail">Thumbnail path:</label>
      <input type="text" id="inv_thumbnail" name="inv_thumbnail" value="/images/vehicles/no-image.png" required>
  
      <label for="inv_price">Price:</label>
      <input type="number" id="inv_price" name="inv_price" placeholder="Decimal or integer" value="<%= locals.inv_price %>" required>
  
      <label for="inv_miles">Miles:</label>
      <input type="number" id="inv_miles" name="inv_miles" placeholder="Digits only" value="<%= locals.inv_miles %>" step="1" required>
  
      <label for="inv_color">Color:</label>
      <input type="text" id="inv_color" name="inv_color" placeholder="Vehicle color" value="<%= locals.inv_color %>" required>
  
      <input type="submit" value="Add Vehicle">
    </fieldset>
  </form>
  <script src="/js/update.js"></script>